# Node modules
node_modules/

# Environment variables
.env

# Uploaded images
uploads/

# Logs
logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Mac files
.DS_Store

# Vercel
.vercel
